<div class="flex justify-content-center">
  <div class="relative">
    <a
      class="p-button p-button-text no-underline absolute"
      style="top: 0.5rem; left: -10rem"
      routerLink="/">
      <i
        class="pi pi-angle-left"
        style="text-underline-position: from-font"></i>
      <span>Home</span>
    </a>
  </div>
  <h3 class="text-center gradient-text">
    {{ countryInfo?.officialName }}
  </h3>
</div>
@if (isLoadingCountryHolidays$ | async) {
  <app-loading-spinner [customStyle]="'h-30rem'"></app-loading-spinner>
} @else {
  <app-country-holidays-table
    [countryHolidays]="
      (countryHolidays$ | async) ?? []
    "></app-country-holidays-table>
}
